* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: rgb(33, 79, 124);
  background: linear-gradient(
    90deg,
    rgba(33, 79, 124, 1) 0%,
    rgba(102, 148, 193, 1) 86%
  );
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu;
}
